body { /*css for the body*/
	font-family: 'Lato', sans-serif; /*changes the font*/
	background-image: linear-gradient(to right, #7fe1ff, #49dacd); /*makes the gradient*/
}

h1{ /*css for the header*/
	color:white; /*setting color to white*/
	text-shadow: 1px 1px #ff887f; /*adding drop shadow*/
}

p{ /*css for the output*/
	font-weight:bold; /*makes the font bold*/
	color:white; /*makes the font color white*/
	font-size:20px; /*makes the font size 20*/
}

#para { 
	font-weight:bold; /*makes the font bold*/
	color:white; /*makes the font color white*/
	font-size:20px; /*makes the font size 20*/
}

#textbox {
    min-width:10.5%;
}

#button { /*css for the button*/
	background: #ff887f; /*sets the color*/
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white; /*sets the font color*/
	font-size: 16px; /*sets the font size*/
	transition-duration: .5s; /*sets the time between the button css and the css when hovering over it*/
	margin-top: 15px;
}

#button:hover { /*css for the button hover*/
	background: white; /*sets the inside to white*/
	border: 1px solid #ff887f; /*sets the border color*/
	color: #ff887f; /*sets the font color*/
	cursor: pointer;
}

#after_submit { /*css for the box with the output*/
	visibility: hidden; /*starts hidden and only appears when the button is clicked*/
	background: #ff887f; /*sets background color*/
	/*positioning*/
	position: absolute;
	top: 23.25%;
	right: 69%;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	margin-left: 20px;
	font-size: 30px;
}